<div id="footer">
	<br>
	<h4 style="margin-top:5px;margin-left:645px;font-family: Comic Sans MS ;color:white;">Follow us on</h4>
	<div id="icons">
		<a class="fa fa-facebook"></a>
		<a class="fa fa-twitter"></a>
		<a class="fa fa-instagram"></a>
	</div>
	<h6 style="margin-left:635px;margin-top:12px;color:yellow;">copyright &copy;Erpsystem</h6>
</div>