<section id="about">
		<div class="about-wrapper container">
			<div class="about-text">
				<p class="small">About Us</p>
				<h2>We have tried to provide the facilities of the student to they can accsess their data easily</h2>
				<p>Indore is a city in west-central India. It’s known for the 7-story Rajwada Palace and the Lal Baag Palace, which date back to Indore’s 19th-century Holkar dynasty. The Holkar rulers are honored by a cluster of tombs and cenotaphs at Chhatri Baag.
				</p>
			</div>
			<div  class="about-img">
				<%= image_tag("background/school.jpg")%>
			</div>
		</div>
	</section>