<h1>School Result</h1>


   <strong>Hi,<%= @s %></strong> Your result has been published on school ERP

  <h4>please check through your Roll Number: <%= @stu_roll %></h4>
  <br>

  <a href="http://localhost:3000/student/result">Check Result Here</a>
</p>
